@import-normalize;

.app {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(238, 238, 238);
}

.container {
  width: 40rem;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}
.app button,
.app button:hover,
.app button:active,
.app button:focus {
  min-width: 8rem;
  margin: 0.5rem;
  padding: 1rem;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  background-color: rgb(38, 255, 237);
  color: #111;
  border: none;
  border-radius: 3px;
}
